@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .fr {
    @apply flex flex-row;
  }
  .fc {
    @apply flex flex-col;
  }
  .fss {
    @apply flex items-start justify-start;
  }
  .fcc {
    @apply flex items-center justify-center;
  }
  .fce {
    @apply flex items-center justify-evenly;
  }
  .fcb {
    @apply flex items-center justify-between;
  }
  .featureCard {
    @apply w-[20.5em] h-[10.5em] px-5 py-6 rounded-lg text-center text-white;
  }
  .glass {
    backdrop-filter: blur(3em);
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1),
      transparent,
      transparent,
      rgba(255, 255, 255, 0.05),
      transparent
    );
    @apply shadow 
      border border-white/10 border-opacity-90 inset-0  
      p-5 rounded-xl 
      /* bg-gradient-to-tr from-white/10 via-transparent to-white/10  */;
  }
  .face {
    /* background-color: red; */
    animation: findEle 350ms alternate-reverse ease-in-out;
    animation-iteration-count: 20;
  }
  @keyframes findEle {
    from {
      /* 0.5rem */
      transform: translateX(0.5rem);
    }
    to {
      transform: translateX(0.75rem);
      /* @apply translate-x-3 ; */
    }
  }

  .formOverLay {
    --topBlurColor: transparent;
    --bottomBlurColor: transparent;
  }
  /* form overlay with blur */
  .formOverLay::after {
    content: "";
    @apply absolute inset-0 z-10 top-0 left-0 w-full h-full pointer-events-none;
    backdrop-filter: blur(5px);
    -webkit-mask: linear-gradient(
      var(--topBlurColor, transparent) 0%,
      transparent 10%,
      transparent 90%,
      var(--bottomBlurColor, transparent) 95%
    );
    /* -webkit-mask: linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      transparent 10%,
      transparent 90%,
      rgba(255, 255, 255, 1) 95%
    ); */
  }

  .noisebg {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asvgjs%3D%22http%3A%2F%2Fsvgjs.dev%2Fsvgjs%22%20viewBox%3D%220%200%20700%20700%22%20width%3D%22700%22%20height%3D%22700%22%20opacity%3D%220.37%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22nnnoise-filter%22%20x%3D%22-20%25%22%20y%3D%22-20%25%22%20width%3D%22140%25%22%20height%3D%22140%25%22%20filterUnits%3D%22objectBoundingBox%22%20primitiveUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22linearRGB%22%3E%0A%09%3CfeTurbulence%20type%3D%22turbulence%22%20baseFrequency%3D%220.162%22%20numOctaves%3D%224%22%20seed%3D%2215%22%20stitchTiles%3D%22stitch%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20result%3D%22turbulence%22%3E%3C%2FfeTurbulence%3E%0A%09%3CfeSpecularLighting%20surfaceScale%3D%2220%22%20specularConstant%3D%220.75%22%20specularExponent%3D%2220%22%20lighting-color%3D%22%23ffffff%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20in%3D%22turbulence%22%20result%3D%22specularLighting%22%3E%0A%20%20%20%20%09%09%3CfeDistantLight%20azimuth%3D%223%22%20elevation%3D%224%22%3E%3C%2FfeDistantLight%3E%0A%20%20%09%3C%2FfeSpecularLighting%3E%0A%20%20%3CfeColorMatrix%20type%3D%22saturate%22%20values%3D%220%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20in%3D%22specularLighting%22%20result%3D%22colormatrix%22%3E%3C%2FfeColorMatrix%3E%0A%3C%2Ffilter%3E%3C%2Fdefs%3E%3Crect%20width%3D%22700%22%20height%3D%22700%22%20fill%3D%22%2344282800%22%3E%3C%2Frect%3E%3Crect%20width%3D%22700%22%20height%3D%22700%22%20fill%3D%22%23ffffff%22%20filter%3D%22url%28%23nnnoise-filter%29%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}
body {
  @apply dark;
}

body::-webkit-scrollbar {
  width: 0.7rem;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  @apply glass;
  background-color: rgba(169, 169, 169, 0.2);
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply glass;
  background-color: rgba(169, 169, 169, 0.3);
  border-radius: 0.5rem;
}
